<!-- Main content-->
<section class="content">
    <div class="container forms">
        <div class="content">
            <div class="image-box">
                <img src="https://i.pinimg.com/564x/20/21/35/20213585795b1d232af28c9106038247.jpg" alt="">
            </div>
            <form (ngSubmit)="addUser()">
                <div class="topic form-link">Crea su cuenta</div>
                <!--cambiar centrar---------------------------------------->

                <div class="input-box">
                    <input type="text"  [(ngModel)]="nombre"  placeholder="Nombre" class="input" required>
                </div>

                <div class="input-box">
                    <input type="email" [(ngModel)]="email" placeholder="Email" class="input" required>
                </div>

                <div class="input-box">
                    <input type="password" [(ngModel)]="password" placeholder="Create Password" class="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="input-box">
                    <input type="password" [(ngModel)]="confirmPassword" placeholder="Repeat Password" class="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="input-box">
                    <input type="submit" value="Crear cuenta">
                </div>

                <div class="form-link">
                    <span>Already have an account? <a class="signup-link active" >Login</a></span>
                </div>

                <div class="line"></div>

                <div class="input-box media-options ">
                    <a href="#" class="field-facebook">
                        <img src="https://api.iconify.design/logos/facebook.svg" alt="" class="facebook-img">
                        <!-- <i class='bx bxl-facebook facebook-icon'></i> -->
                        <span>Login with Facebook</span>
                    </a>
                </div>

                <div class="input-box media-options ">
                    <a href="#" class="field-google ">
                        <img src="https://api.iconify.design/flat-color-icons/google.svg" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>

            </form>
        </div>
    </div>

</section>
<!-- End main content-->