<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="https://api.iconify.design/flag/pe-4x3.svg" alt="">
            </span>

            <div class="text logo-text">
                <span class="name">Enseñame</span>
                <!--<span class="profession">Web developer</span>-->
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-file icon'></i>
                        <span class="text nav-text">Aprender</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-clipboard icon'></i>
                        <span class="text nav-text">Recursos didacticos</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pen icon'></i>
                        <span class="text nav-text">Repaso</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">Trivias</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-book icon'></i>
                        <span class="text nav-text">Ejercicios</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="bottom-content">
            <li class="flex">
                <a class="#">
                    <span class="nav_image">
                        <img src="https://i.pinimg.com/564x/16/0d/5d/160d5dada7cedeeb410f8464ac0b9184.jpg"
                            alt="logo_img" />
                    </span>
                    <div class="nav-text text ">
                        <span class="name">David Oliva</span><br>
                        <span class="email">david@gmail.com</span>
                    </div>
                </a>
            </li>

            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>